// Style général

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #282828;
    height: auto;

}

section {
    padding:  5.25rem 4.25rem;

    hr {
        background: #feca07;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border-radius: 10px;
    }
}

hr {
    width: 5rem;
    height: .1875rem;
    border-radius: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

// Header

.navbar-responsive {
    background-color: #282828;

    ul {
        text-align: center;

        li {
            height: 3rem;
            @include font(1.125rem, 300, 4rem, #fff);

            a {
                color: inherit;
            }
        }
    }
}

header {
    width: 100%;
    height: 40.625rem;
    padding-top: 3.125rem;
    background-image: url('../img/site/bg2.png');
    background-position: center;
    background-repeat: repeat, no-repeat;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('../img/site/bg2.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logonavbar {
        .logo {
            h1 {
                @include font(2.5rem, 700, 2.5rem, #feca07);

                span {
                    font-weight: 400;
                }
            }

            hr {
                background: #feca07;
                margin: 0;
            }

            h2 {
                @include font(.875rem, 300, .875rem, #feca07);
                opacity: .5;
                margin-top: 1.875rem;
            }
        }

        .navbar {
            ul {
                float: left;

                li {
                    float: left;
                    @include font(1.125rem, 300, 2.5rem, #feca07);

                    + li {
                        margin-left: 3rem;
                    }

                    a {
                        color: inherit;

                        &.hvr-underline-from-left::before {
                            background: #fff;
                        }
                    }
                }
            }

            img.menu {
                width: 2.5rem;
            }
        }
    }

    h1.catchphrase {
        @include font(3.125rem, 300, 3.125rem, #feca07);
        text-transform: uppercase;
        text-align: center;
        margin-top: 9rem;

        span {
            font-weight: 600;
        }
    }

    a.down-arrow {
        display: block;
        width: 4.125rem;
        margin: auto;
        margin-top: 6.875rem;

        img {
            width: 100%;
            animation: arrow 1s ease-in-out infinite alternate;
        }
    }

    @keyframes arrow {
        from {
            opacity: 1;
            margin-top: 0;
        }

        to {
            opacity: .2;
            margin-top: 3rem;
        }
    }
}

// A propos

.about {
    background-color: #fff;

    h2 {
      @include font(2.1875rem, 800, 2.1875rem, #282828);
      text-align: center;
    }
  
    h3 {
      margin-bottom: 2rem;
      @include font(1.5625rem, 600, 1.5625rem, #282828);
    }
  
    p {
      margin-bottom: 2rem;
      @include font(1.25rem, 400, 1.875rem, #282828);
    }
  
    ul {
      list-style: url('../img/site/puce.png');
      @include font(1.25rem, 700, 1.875rem, #282828);
      margin-bottom: 2rem;
      list-style-position: inside;
  
      a {
        color: #feca07;
        text-decoration: underline;
      }
    }
  
    img.picture {
      float: right;
    }
  
    .social-networks {
      text-align: center;
  
      a {
        + a {
          margin-left: .3125rem;
        }
  
        i {
          width: 2.1875rem;
          font-size: 2.5rem;
          color: #282828;

          &:hover {
              color: #feca07;
          }
        }
      }
    }
}

// Mes compétences

.skill {
    h2 {
        @include font(2.1875rem, 800, 2.1875rem, #f3f3f3);
        text-align: center;
    }

    p {
        margin-bottom: 4.6875rem;
        @include font(1.25rem, 400, 1.25rem, #ccc);
        text-align: center;
    }

    .flex {
        display: flex;
        align-items: center;
        margin-top: 1.5625rem;

        .percent {
            @include font(6.25rem, 700, 6.25rem, #fff);
        }

        .progress-container {
            flex-basis: 100%;
            padding-left: 2rem;

            strong {
                @include font(1.25rem, 700, 1.25rem, #f3f3f3);
                text-transform: uppercase;
            }

            .progress {
                margin-top: 1rem;
                border-radius: 10px;
                background-color: #656565;

                .progress-bar {
                    height:  1.125rem;
                    background-color: #feca07;
                    border-radius: 10px;
                }
            }
        }
    }
}

// Mes expériences Pro

.experience {
    background-color: #fff;

    h2 {
      @include font(2.1875rem, 800, 2.1875rem, #282828);
      text-align: center;
    }
  
    hr {
      margin-bottom: 0;
    }
  
    article {
      position: relative;
      margin-top: 4.375rem;
      background-color: #282828;
      padding: 1.25rem 2.1875rem 3.4375rem;
  
      .period {
        position: absolute;
        height: 4.375rem;
        background: #feca07;
        padding-left: 1rem;
        padding-right: 1rem;
        top: -1.125rem;
        left: -.875rem;
        border-radius: 10px;
        @include font(1.5625rem, 700, 4.375rem, #fff);
      }
  
      h3, h4 {
        text-align: right;
      }
  
      h3 {
        @include font(1.5625rem, 700, 1.5625rem, #fff);
  
        &::before {
          content: url('../img/site/puce.png');
          padding-right: .625rem;
        }
      }
  
      h4 {
        margin-bottom: 2.8125rem;
        @include font(.9375rem, 400, .9375rem, #8d8d8d);
      }
  
      p {
        @include font(1.125rem, 400, 1.875rem, #ccc);
        text-align: start;
      }
    }
  }

// Mes réalisations

.work {
    background-color: #dadada;

    h2 {
        @include font(2.1875rem, 800, 2.1875rem, #282828);
        text-align: center;
    }
    
    p {
        @include font(1.5625rem, 400, 1.5625rem, #282828);
        text-align: center;
        margin-bottom: 5.25;
    }
    
    figure {
        position: relative;
        margin-bottom: 0;
        margin-top: 1rem;

        img {
            width: 100%;
            border-radius: 10px;
        }

        figcaption {
            position: absolute;
            top: 1rem;
            right: 1rem;
            bottom: 1rem;
            left: 1rem;
            background-color: #fff;
            opacity: 0;
            padding-top: 3.9375rem;
            transition: opacity .6s ease;

            &:hover {
                border-radius: 10px;
                opacity: .9;
            }

            h3, h4 {
                text-align: center;
            }

            h3 {
                margin-bottom: 1rem;
                @include font(1.25rem, 700, 1.25rem, #282828);
            }
            
            h4 {
                margin-bottom: 2rem;
                @include font(.875rem, 400, .875rem, #282828);
            }

            a {
                display: block;
                width: 1.625rem;
                margin: auto;
            }
        }
    }
}

// Footer
.site-footer {
  background-color:#26272b;
  padding:2.8125rem 0 1.25rem;
  font-size:15px;
  line-height:24px;
  color:#818181;

    hr {
    border-top-color:#feca07;
    opacity:1;
    margin:.9375rem 0;
    }

    h6 {
    color:#feca07;
    font-size:1rem;
    text-transform:uppercase;
    margin-top:.3125rem;
    letter-spacing:.125rem;
    }
    .footer-links {
    padding-left:0;
    list-style:none;

        a {
        color: #818181;
        }

        a:hover {
            color: #fff;
            text-decoration: none;
        }

        a:active, a:focus, a:hover {
            color: #feca07;
            text-decoration: none;
        }
    }
}

.footer-links.inline li
{
  display:inline-block;
}
.site-footer .social-icons
{
  text-align:right;
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}